//Event Card
.eventCard {
    text-align: center;
    overflow: hidden;
    border-radius: .4em;
    min-height: 28em;
    background-color: rgb(255, 255, 255);
    color: #103a52;
    outline: 1px solid black;

    .imageContainer {
        position: relative;
        min-height: 28em;
        width: 100%;
        margin-bottom: 1em;

        img {
            height: 15em;
            z-index: 1;
            opacity: 1;
        }
    }
}

//LinkCard
.linkCardContainer {
    position: relative;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    .cardContent {
        width: 70%;
        height: 100%;
        line-height: .4em;
        color: white;

        a {
            background-color: white;
            padding: 1.4em 2.2em;
            border-radius: 9px;
            font-weight: 700;
            color: rgb(58, 58, 180);
            align-items: center;

            &:hover {
                color: grey;
            }
        }
    }

}