.descriptionContainer {
    padding: 2em 1em;

    .item {
        padding: 1em 0;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(123, 123, 255, 0.5);

        h4 {
            color: rgb(63, 192, 252);
        }

        p {
            padding-left: 10px;
        }

    }
}