.homeContainer {
    max-width: 1600px;
    margin: 1em auto;
    padding: 0 1em;

    .cardsContainer {
        margin: 1em 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;
    }
}

//slideshoow
.slide {
    height: 45em;
    background-color: red;
    border-radius: 20px;
    min-width: 300px;

    button {
        transform: translate(150%, 500px);
    }

    @media(max-width: 900px) {
        height: 20em;

        button {
            transform: translate(-5em, 150px);
        }
    }
}

//card 
.card {
    background-color: blue;
    height: 20em;
    border-radius: 20px;

    .content {
        transform: translate(60px, 175px);
    }

    @media(max-width: 900px) {
        height: 13em;

        .content {
            transform: translate(10px, 75px);
        }
    }

}

//links

.links {
    display: flex;
    gap: 1em;
    align-items: center;
}

//navbar

.navbarContainer {
    max-width: 1600px;
    margin: 1em auto;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: rgb(116, 170, 219);
        font-weight: 700;
        letter-spacing: 3px;
    }

    .navLogo {
        position: relative;

        img {
            object-fit: contain;
        }
    }
}

//footer
.footerContainer {
    max-width: 1600px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.384);
    padding: 2em 0;
    background-color: rgb(31, 30, 30);
    color: white;

    a {
        font-weight: 700;
        letter-spacing: 2px;
    }

    .footerLogo {
        position: relative;
    }
}